.complete-app {
  background-color: #f4f8fb;
}
.signup-header {
  font-weight: bold;
}
.form-label-style {
  color: #3330a3;
}
.loginleft {
  background-color: #3330a3;
}
.logincard {
  border-radius: 1rem;
}
.loginleft-text {
  margin-top: 35%;
}
