{% load static %}
<!Doctype html>
<head>
        <meta charset="UTF-8">
        <meta name="description" content="This is a project management website.Uploading of projects and grading takeplace on a single platform">
        <meta name="keywords" content="Project Management">
        <meta name="author" content="Ketki Chavan">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--css links-->
<!--bootstrap-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> 
<!-- toastify -->
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"> 
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<!-- icons -->
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/line-awesome/1.3.0/line-awesome/css/line-awesome.min.css'>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
<!--main css-->

<link rel="stylesheet" type="text/css" href="{% static 'styles/styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/style.css' %}">

<!-- scripts -->
<!-- bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
<!-- icons -->
<script src="https://kit.fontawesome.com/fee06b6511.js" crossorigin="anonymous"></script>
<!--charts, jquery, popper-->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

<style>
    .fdb-block {
      border-bottom: 1px solid var(--light);
    }
    .end {
      padding-left: 98%;
    }

    .submit a {
      color: white;
      background-color: #5A827F;
      padding: 5px 11px;
      border-style: 2px solid
    }

    .submit a:hover {
      border-color: white;
    }
  </style>
</head>
<script>
  var page = window.location.pathname.split('/')
  page = page[page.length - 1]

  var nav = document.querySelector('a[href="' + page + '"]')
  if (nav) {
    nav.classList.add('active')
  }
</script>

{% if user.is_authenticated %}
  <nav class="navbar  sticky-top  justify-content-between" style="background-color: #3330A3;">
    <div>
      <a href="/TeacherDashboard/">
        <i class="fas fa-user-graduate fa-2x" style="color : #fff"></i>
      </a>
  
      &nbsp;
  
      <a class="navbar-brand text-white">Hello, Prof.{{user.first_name}}</a>
    </div>
  
    <div class="navbar justify-content-end">
      <a class="btn btn-main btn-primary m-1" href="/miniprojview/">Project List</a>
    </div>
  {% endif %}
  </nav>

<body>

  <div class="container">
    <div class="row">
      {% for j in gr %}
        <div class="col-sm-4 mb-3 d-flex">
          <div class="analytic mt-4">
              <div class="analytic-info text-center">
                {% if user.username == j.username %}
                <i class="fas fa-check-circle" style="color:green"></i>
                <b>Project Graded By You</b>
                {% else %}
                <i class="fas fa-check-circle" style="color:green"></i>
                <b>Project Graded By Others</b>
                {% endif %}
                
                <hr>
                <h4 class="card-text mb-0">Average marks scored: <b>{{j.avgtotal}}</b></h4>
                <h4 class="card-text mt-0 mb-2">Suggestions: <b>{{j.suggestions}}</b></h4>
                {% if j.endorsement %}
                <h4 class="card-text mb-0" style="color: green"><b>Endorsed</b></h4>
                {% endif %}
              </div>
          </div>
        </div> 
    {% endfor %}
    </div>
  </div>

  {% for i in np %}
<div class="container">
  <div class="card">
    <h4 class="card-header text-white" style="background-color: #3330A3;">{{i.Project_name}}<p class="mt-2" style="font-size:smaller; color:white">Project Id: {{i.id}}</p></h4>
    <div class="card-body">
      <h4>Student Details:</h4>
      <div class="container">
        <div class="row">
          <div class="col">
            <h5 class="card-text thicker mb-0"><i class="bi bi-dot"></i> Name: <span style="color:black">{{i.Student_name}}</span></h5> 
          </div>
          <div class="col">
            <h5 class="card-text thicker mb-0"><i class="bi bi-dot"></i> Username: <span style="color:black">{{i.Username}}</span></h5> 
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col">
            <h5 class="card-text thicker mb-0"><i class="bi bi-dot"></i> Roll No: <span style="color:black">{{i.Roll_no}}</span></h5> 
          </div>
          <div class="col">
            <h5 class="card-text thicker mb-0"><i class="bi bi-dot"></i> Division: <span style="color:black">{{i.Div}}</span></h5> 
          </div>
        </div>
      </div>
      <hr>

      <h4>Project Details:</h4>
      <div class="container">
        <div class="row">
          <div class="col">
            <h5 class="card-text thicker mb-0"><i class="bi bi-dot"></i> Subject: <span style="color:black">{{i.Subject}}</span></h5> 
          </div>
          <div class="col">
            <h5 class="card-text thicker mb-0"><i class="bi bi-dot"></i> Semester: <span style="color:black">{{i.Semester}}</span></h5> 
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col">
            <h5 class="card-text thicker mb-0"><i class="bi bi-dot"></i> Project Description: <span style="color:black">{{i.Project_description}}</span></h5> 
          </div>
          <div class="col">
            <h5 class="card-text thicker mb-0"><i class="bi bi-dot"></i> Project Members: <span style="color:black">{{i.Project_members}}</span></h5> 
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col">
            <h5 class="card-text thicker mb-0"><i class="bi bi-dot"></i> <a href="{{ i.Output_File.url}}">Output Files Url</a></h5> 
          </div>
          <div class="col">
            <h5 class="card-text thicker mb-0"><i class="bi bi-dot"></i> <a href="{{i.Git_link}}">Git Link</a></h5> 
          </div>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col d-flex">
          <a class="btn btn-main btn-primary" href="{% url 'grades' i.pk %}" id="marks" >Grade</a>
        </div>
      </div>
    </div>
  </div>
</div>

  {% endfor %}
  </body>