{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<!Doctype html>

<head>
  <meta charset="UTF-8">
  <meta name="description"
    content="This is a project management website.Uploading of projects and grading takeplace on a single platform">
  <meta name="keywords" content="Project Management">
  <meta name="author" content="Ketki Chavan">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static 'styles/styles.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/fee06b6511.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
  <style>
    .card {
      margin: 0 auto;
      /* Added */
      float: none;
      /* Added */
      margin-bottom: 10px;
      /* Added */
      margin-left: 50px;
      margin-right: 50px;
      margin-top: 50px;
      box-shadow: 0 0.3125rem 0.875rem 0 rgba(129, 129, 129, 0.2) !important;
    }

    .card-text {
      color: #1b1b1b;
    }
  </style>
</head>

{% if user.is_authenticated %}
<nav class="navbar  sticky-top  justify-content-between" style="background-color: #3330A3;">
  <div>
    <a href="/StudentDashboard/">
      <i class="fas fa-user-graduate fa-2x" style="color : #fff"></i>
    </a>

    &nbsp;

    <a class="navbar-brand text-white">Hello, {{user.first_name}}</a>
  </div>

  <div class="navbar justify-content-end">
    <a class="btn btn-outline-light m-1" href="/logout/">LOGOUT</a>
  </div>
</nav>
{% endif %}

</nav>

<body style="background-color: #F4F8FB;">

  <div class="card">
    <div class="card-body">
      <form method='POST' action='' class="uniForm" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="row justify-content-center">
          {{ form|crispy }}
          <div class="col-12 col-md-3 mt-2 ">
            <button class="btn pt-1 mt-4 text-white" id="edit" type="submit" value='Search'
              style="background-color: #3330A3;"><i class="fas fa-search"></i> Search</button>
          </div>
        </div>

      </form>
    </div>
  </div>


  <div class="row">
    {% for i in queryset %}

    {% csrf_token %}
    <div class="col-12 col-md-4">
      <div class="card">
        <h4 class="card-header text-white " style="background-color: #3330A3;">{{i.title}}</h4>
        <div class="card-body">

          <h3 class="card-title">{{i.organization}}</h3>
          <p class="card-text"><i class="fas fa-th-large"></i> {{i.domain}}</p>
          <p class="card-text"><i class="bi bi-geo-alt-fill"></i> {{i.city}}, {{i.country}}</p>
          <p class="card-text"><i class="bi bi-alarm-fill"></i> Apply by {{i.application_end_date }}</p>
          <a href="{% url 'jobView' i.pk %}" class="btn text-white" style="background-color: #3330A3;">View</a>
        </div>
      </div>
    </div>
    {% endfor %}

  </div>

  <div class="row">

    {% for new in job %}
    {% csrf_token %}
    <div class="col-12 col-md-4">
      <div class="card">
        <h4 class="card-header text-white " style="background-color: #3330A3;">{{new.title}}</h4>

        <div class="card-body">

          <h3 class="card-title">{{new.organization}}</h3>
          <p class="card-text"><i class="fas fa-th-large"></i> {{new.domain}}</p>
          <p class="card-text"><i class="bi bi-geo-alt-fill"></i> {{new.city}}, {{new.country}}</p>
          <p class="card-text"><i class="bi bi-alarm-fill"></i> Apply by {{new.application_end_date }}</p>
          <a href="{% url 'jobView' new.pk %}" class="btn text-white" style="background-color: #3330A3;">View</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>


  {% endblock %}

  <script>
    $(document).ready(function () {
      if (localStorage.getItem('Projectgraded')) {
        console.log('entered if ')
        Toastify({
          text: "Project Graded Successfully!",
          duration: 50000,
          close: true,
          backgroundColor: "linear-gradient(to right, #00b09b, #96c93d)",
        }).showToast();
        localStorage.removeItem('Projectgraded')

      }
    });
  </script>

  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

</body>